<div class="d-flex justify-content-center"
    style="background:url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1587640724138&di=47eae1a33b6640157acd8db69e5db504&imgtype=0&src=http%3A%2F%2Ff.hiphotos.baidu.com%2Fzhidao%2Fpic%2Fitem%2F241f95cad1c8a7863cb5bacd6709c93d71cf5052.jpg')">
    <div class="d-flex align-items-center login-content">
        <form [formGroup]='myForm' (ngSubmit)="onSubmit(myForm.value)"
            style="background:url('http://up.enterdesk.com/edpic/db/1b/39/db1b39c028e4e6fc6d83ea8858941a2b.jpg');background-size: 100%; ">
            <h3 class="d-flex justify-content-center">用户注册</h3>
            <br>
            <br>
            <div>请输入你的名字:&nbsp;<input style="border: 1px solid gray; border-radius: 5px" type="text">
                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;性别:&nbsp;&nbsp;&nbsp;</label>
                <input name=" sex" type="radio">男&nbsp;&nbsp;&nbsp;<input name="sex" type="radio">女
            </div>
            <p class="text-danger" *ngIf="myForm.invalid">表单无效</p>
            <p>{{name$ | async}}</p>
            <div class="form-group">
                <label for="exampleInputEmail1">用户名：</label>
                <input style="opacity: .6;" type="text" class="form-control " id="userName" aria-describedby="输入用户名"
                    name="userName" [formControl]="userName"
                    [ngClass]="{'is-invalid':userName.invalid,'is-valid':userName.valid}">
                <div class="valid-feedback">
                    用户名格式输入正确！
                </div>
                <div class="invalid-feedback">
                    <span *ngIf="userName.hasError('required')">用户名必须填写</span>
                    <span *ngIf="!userName.hasError('required') && userName.hasError('invalidUser')">用户名必须以a开头</span>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">密码：</label>
                <input style="opacity: .6;" type="password" class="form-control " id="password" name="password"
                    [formControl]="password" [ngClass]="{'is-invalid':password.invalid,'is-valid':password.valid}">
                <div class=" valid-feedback">
                    密码输入正确！
                </div>
                <div class="invalid-feedback">
                    密码必需大于5位！
                </div>
                <br>
                <p style="font-size: .8rem; color: lightslategrey;"> <input type="checkbox">记住密码</p>
            </div>

            <button type="submit" class="btn btn-primary  btn-block" [disabled]="myForm.invalid">提交</button>
        </form>
    </div>
</div>